* {
    margin: 0;
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
}

html {
    margin: 0;
    font-family: Oxygen;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: white;
}

::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

.links {
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.links > li {
    margin: 10px;
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

header {
    position: absolute;
    background-color: white;
    min-height: 7vh;
    width: 100vw;
    top: 0;
    z-index: 2;
}

.header_black {
    background-color: black;
    color: white;
}

.cover {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}

.title {
    font-family: allright !important;
    font-size: 100px;
}

.circle {
    position: absolute;
    height: 70vh;
    width: 70vh;
    z-index: -1;
    border-radius: 50%;
    outline: 2px solid black;
}

#selca {
    background-image: url("images/selca.jpg");
    background-size: cover;
    filter: grayscale(100%);
    opacity: 80%;
}

#name:hover ~ #selca {
    filter: none;
}

#name {
    margin-right: 10px;
}

.twilight {
    position: fixed;
    mix-blend-mode: difference;
    height: 10vh;
    width: 10vh;
    z-index: 1000;
    top: 20px;
    left: 20px;
    border-radius: 50%;
    background-color: white;
}

.cursor {
    position: fixed;
    opacity: 0;
    pointer-events: none;
    mix-blend-mode: difference;
    width: 10vh;
    height: 10vh;
    border-radius: 50%;
    background-color: white;
    transition: transform 250ms ease;
    transform: translate(-50%, -50%) scale(1);
    z-index: 1000;
}

.cursor-triggered {
    transform: translate(-50%, -50%) scale(2);
}

a {
    text-decoration: none;
    color: inherit;
}

section {
    position: relative;
}

.bg-info {
    height: 50vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#about {
    width: 30vw;
    text-align: center;
}

h2 {
    font-family: allright;
    font-size: 30px;
}

h3 {
    font-family: Oxygen;
    font-size: 12px;
}

hr {
    max-width: 50vw;
    margin: 15px;
    height: 2px;
    background-color: #EE1B3E;
    border: none;
}

.posts_2 > .content > hr {
    background-color: #1E76B8;
}

.posts_3 > .content > hr {
    background-color: #7C2E87;
}

p {
    font-family: Oxygen;
    font-size: 15px;
    margin-bottom: 15px;
}

.feed, .timeline {
    background-color: black;
    padding: 10px;
    z-index: 5;
}

.posts, .posts_2, .posts_3 {
    background-color: white;
    margin: 30px;
    margin-left: 30vw;
    padding: 20px;
    width: 30vw;
}

.stories {
    background-color: white;
    margin: 30px;
    margin-left: 24vw;
    padding: 20px;
    width: 50vw;
}

.content::before {
    content: "";
    width: 20px;
    height: 20px;
    background: white;
    position: absolute;
    left: -50px;
    top: 10px;
    border-radius: 100%;
}

.posts::before {
    content: "";
    position: absolute;
    width: 3px;
    background-color: #EE1B3E;
	min-height: calc(100% + 10px);
    top: 30px;
    left: -41.5px;
    z-index: 1;
}

.posts_2::before {
    content: "";
    position: absolute;
    width: 3px;
    background-color: #1E76B8;
	min-height: calc(100% + 10px);
    top: 30px;
    left: -41.5px;
    z-index: 1;
}

.posts_3::before {
    content: "";
    position: absolute;
    width: 3px;
    background-color: #7C2E87;
	min-height: calc(100% + 10px);
    top: 30px;
    left: -41.5px;
    z-index: 1;
}

.posts:last-child::before, .posts_2:last-child::before, .posts_3:last-child::before {
    width: 0px;
}

.feed::before {
    display: block;
    content: "";
    width: 30px;
    height: 30px;
    background: white;
    mix-blend-mode: difference;
    position: sticky;
    left: calc(30vw - 45px);
    top: 106px;
    border-radius: 100%;
    z-index: 3;
}

svg {
    display: block;
}

.suntop, .earthtop, .earthtop2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 100vh;
}

.earthtop2 {
    background-color: #EE1B3E;
}

.moontop {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 100vh;
    color: white;
}

.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: #EE1B3E;
    padding: 10px;
    padding-top: 10vh;
    z-index: 5;
}

.photos {
    background-color: black;
    margin: 40px;
    padding: 10px;
    width: 20vw;
}

img {
    display: block;
    width: 20vw;
    filter: grayscale(100%);
}

.photos > img:hover {
    filter: none;
}

footer {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: black;
    align-items: center;
    padding: 3vh;
}

.logos {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    padding: 10px;
    width: 30vw;
}

.logo {
    filter: invert(100%);
    width: 5vh;
}

small {
    color: white;
}